body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}

aside{
    display: flex;
    justify-content: space-between;
}

.aside__boton {
    margin: 3rem 5rem;
    padding: 2px 10px;
    background-color: white;
    border: none;
    cursor: default !important;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;    
    
}

.aside__boton a::after{
    position: absolute;
    content: "";
    height: 1px;
    top: 100%;
    left: 10%;
    width: 0%;
    background-color: black;
    transition: all .3s ease-in-out;
}

.aside__boton a {
    font-size: 1.4rem;
    font-family: 'Gotham-Light';
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.aside__button--right-sesion1{
    margin: 3rem;
    margin-left: auto;
}

.aside__boton a:hover{
    opacity: .8;
}


@media(max-width:1040px){
    .video__location {
        position: absolute;
        bottom: 0% !important;                   
        width: 100%;       
        font-size: 1.3rem;
        font-family: 'Gotham-Light';
        text-align: left;
        margin: 0 auto;
    } 
    .layout-video__section1-1 {
        width: 90% !important;
        margin: 0 auto !important;
    }
    .layout-video__section3--title-article--title{
        margin: 3rem auto;
        font-size: 2.5rem;
        font-family: 'Gotham-Light';
    }
    
    .layout-video__section3--article{
        margin: 2rem 3rem;
        width: 60%;
    }
    
    .layout-video__section3--title-text{
        font-size: 2rem;
        font-family: 'Gotham-Light';
        margin: 0 auto !important;
    }
}

.layout-video {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.layout-video__section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90vw;
}

.layout-video__section--article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.layout-video__section--number {
    text-align: left;
    font-weight: bold;
    margin-left: 0; 
    font-size: 3rem;
    font-family: 'Misto';
}

.layout-video__section--title {
    font-size: 3rem;
    font-family: 'Misto', sans-serif;
    position: relative;
    color: black; 
    text-decoration: none; 
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.layout-video__section--title--responsive{
    display: none;
}

.layout-video__section--title::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.layout-video__section--title:hover {
    color: rgba(0, 0, 0, 0.705); /* Cambia el color del texto al pasar el ratón */
}

.layout-video__section--title:hover::after {
    width: 100%;
    left: 0;
}


a{
    text-decoration: none;
    color: black;
}

/* .layout-video__section--info{
    display: flex;
    flex-direction: row;
} */

/* Sesion 1-home */



.layout-video__section1-home {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    max-width: 94vw;
}

.layout-video__section1-home--article a {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    margin: 0 auto;
    flex: 1; 
    margin-top: 3rem;    
}

.layout-video__section1-home--title-article{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 78%;
    margin: 0 auto;
    justify-content: space-between;
}

.layout-video__section--number{
    text-align: left;
    font-size: 3.5rem;
    font-family: 'Misto';
}

.layout-video__section--title-1{
    text-align: right;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'Misto';
}


/* Sesion 1-1 */

.layout-video__section1-1 {
    min-height: 100vh;
    min-width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
}

.layout-video__section1-1--article {
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 2rem 0 0 2rem;
}

.layout-video__section1-1--title-article {
    grid-column: 3/8; 
    grid-row: 1;
    margin: 4rem auto;
}

.layout-video__section1-1--title-article--title{
    font-size: 2.5rem;
    font-family: 'Gotham-Light';
    word-spacing: 3.5rem;
    margin: 0 auto;
    margin-top: 0;
}

.layout-video__section1-1--title-text{
    font-size: 2rem;
    font-family: 'Gotham-Light';
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
}

.layout-video__section1-1--title-text-span{
    font-size: 1.7rem;
    font-family: 'Gotham-Light';
    text-align: right;
    word-spacing: 1.5rem;
}

/* .span-sesion2-3{
    position: relative;
    left: 25% !important;
} */

.video__location {
    position: absolute;
    bottom: 25%;                   
    width: 100%;       
    font-size: 1.3rem;
    font-family: 'Gotham-Light';
    text-align: left;
    margin: 0 auto;
} 

/* Sesion 1-3 */
.iceberg{
    word-spacing: 7rem;
}

/* Sesion 2-home */

.layout-video__section1-home--title-article--2{
    width: 87%;
}

.img__sesion2-home{
    width: 92.5%;
}

.title-sesion2-3{
 word-spacing: 6rem;
 letter-spacing: 0.05rem;   
}

/* Sesion 3 */
.layout-video--section3-home{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.layout-video__section3-home--article img{
    width: 60%;
}
@media(max-width: 900px){
    .layout-video__section3-home--article img{
        width: 90%;
    }
}
.layout-video__section3{
    display: flex;
}

.layout-video__section3--title-article--title{
    margin: 6rem 3rem 2rem 3rem;
    font-size: 2.5rem;
    font-family: 'Gotham-Light';
}

.layout-video__section3--article{
    margin: 2rem 3rem;
    width: 60%;
}

.layout-video__section3--title-text{
    font-size: 2rem;
    font-family: 'Gotham-Light';
}

.video__location-2 {
    position: absolute;  
    bottom: 37.5%;                   
    width: 100%;       
    font-size: 1.3rem;
    font-family: 'Gotham-Light';
    text-align: left;
    margin: 0 auto;
}

/* Sesion 4 */
.img__sesion4-home{
    width: 92.5%;
}

/* Sobre Mi */

.layout__about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin: auto;
}

.about-me__section{
    display: grid;
    grid-template-columns: 2fr 3fr;
    
}

.about-me__article--1 img{
    width: 75%;
    margin: 5rem 0rem 2rem 2rem;
}

.about-me__article--2{
    margin-top: 2.5rem;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Gotham-Light';
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 3rem;
}

.about-me__text-2 {
    margin-top: 3rem;
    position: relative;
}

.about-me__text-2 span{
    position: absolute;
    right: 1%;
}

.about-me__text-2--instagram:hover a:hover{
    font-weight: bold;
}

@media(max-width: 840px){
    aside{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    
    .aside__boton {
        margin: 0rem;
        line-height: 40px;    
    }
    .layout-video__section1-home{
        gap: 8px;
    }
    .img__sesion4-home{
        width: 100%;
    }
}

@media(max-width:500px){
    .about-me__article--1 img{
        width: 23rem !important;
        margin: 1.5rem 0;
    }
    .about-me__article--2{
        margin-top: 1rem;
        width: 100%;
        font-size: 1.7rem;
        font-family: 'Gotham-Light';
        line-height: 1.5;
        text-align: justify;
        
    }
    .layout-video {
        min-height: 100vh;
        display: grid;
        place-content: center;
    }
    
    .layout-video__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 95vw;
    }
    
    .layout-video__section--article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .layout-video__section--number {
        font-size: 2.3rem;
    }

    .layout-video__section--title-1{
        text-align: right;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: 'Misto';
    }
    
    .layout-video__section--title {        
        margin: 5rem 0;
        font-size: 2.3rem;
        font-family: 'Misto', sans-serif;
        position: relative;
        color: black; 
        text-decoration: none; 
        cursor: pointer;
        transition: color 0.3s ease-in-out;
    }
    
    .layout-video__section--title::after {
        height: 0px;       
    }
    
    .layout-video__section--title:hover {
        pointer-events: none;
        opacity: 1;
    }
    
}

@media(max-width: 287px){
    .layout-video__section--number {
        font-size: 2rem;
    }
    .layout-video__section--title {        
        margin: 5rem 0;
        font-size: 2rem;
    }
    .layout-video__section--title-1{
        font-size: 2.5rem;
    }
}
@media(max-width: 230px){
    .layout-video__section--number {
        font-size: 1.75rem;
    }
    .layout-video__section--title {        
        margin: 5rem 0;
        font-size: 1.75rem;
    }
    .layout-video__section--title-1{
        font-size: 2.25rem;
    }
}

/* Scroll */
/* Estilo para el contenedor del scrollbar */
::-webkit-scrollbar {
    width: 13px;  /* Ancho del scroll */
    height: 8px; /* Alto del scroll si es horizontal */
}

/* Estilo para el "track" (el fondo del scrollbar) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del scroll */
    border-radius: 10px;  /* Bordes redondeados */
    margin: 0.5rem;
}

/* Estilo para el "thumb" (la parte que se desplaza) */
::-webkit-scrollbar-thumb {
    background-color: #91afdf; /* Color del thumb */
    border-radius: 10px;     /* Bordes redondeados */
    border: 2px solid #f1f1f1; /* Borde alrededor del thumb para separarlo del track */
}

/* Cambia el color del thumb cuando esté en uso */
::-webkit-scrollbar-thumb:hover {
    background-color: #4879c8; /* Color cuando el usuario interactúa con él */
}